.cblock1 {
    float:center;
    width: 600px;
}
.cblock2 {
    float:center;
    width: 600px;
}

.student_class {
     background-color :#FF7F00;
     color :#FFFFFF;
}

.cstate {
    width:65px;
}

.word_class {
     background-color :#FF7F00;
     color :#FFFFFF;    
}

.campaign_class {
     background-color :#FF7F00;
     color :#FFFFFF;     
}

.sendBlock {
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
}

.tbh {

}

.addCampaign {
    float:left;
}

.cprompt {
    float:left;
    height:10px;
    border:none;
}


.sequenceDetail {
    border-style:  solid;
    border-width:1px;
    width:650px;
    height:250px;    
}

.imessage {
    width:600px
}
.campaign {
    width: 250px;
}

.keyword {
    width: 250px;
}

.sendtime {
    width: 60px;
}
.sendcount {
    width:60px;
}
.right {
    float:right;
}
.center  {
    float:center;
}
.xdate {
    width:80px;
}